body {
  background-color: #D5E2F2;
  font-family: 'Source Sans 3', sans-serif;
}

h1 {
  font-size: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.padding{
  padding-left: 80px;
  padding-right: 80px;
}

/* general */
.container {
  padding: 0px 40px;
}

.tags {
  gap: 31px;
}

.flex {
  display: flex;
  align-items: center;
}

/* lowernav */
.tags a {
  font-family: 'Arvo', serif;
  color: #142240;
}

.main-logo {
  height: 70px;
}

.uppernav {
  height: 48px;
}

.lowernav {
  padding: 5px 40px;
  background-color: #D5E2F2;
  font-size: 22.5px;
  height: 90px;
  justify-content: space-between;
}

.intro {
  font-family: 'Arvo', serif;
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 37px;
  background-color: #D5E2F2;
  width: 700px
}

.model {
  width: 100px;
  height: 100px;
}

.features {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.card-features {
  margin-top: 40px;
  padding-bottom: 40px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 30%
}

.card-features img {
  width: 50px;
}

.solutions {
  background-color: #192959;
  padding-left: 80px;
  padding-top: 50px;
  padding-bottom: 37px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.solutions-child{
  color: #D5E2F2;
  font-family: 'Arvo', serif;
  font-size: 50px;
  height: 500px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.grid-child{
  padding-bottom: 40px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 250px;
  height:250px;
  border: 1px solid #f1f1f1;


}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #192959;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.carousel-container {
  margin-top: 30px;
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-inner-content img{
  height: 100px;
  width: 100px;
}
.carousel-inner-content{
  max-width: 40%;
  align-items: left;
  gap: 10px;
  flex-direction: column;
}
.carousel-slide {
  flex-direction:row ;
  justify-content: space-evenly;
  flex: 0 0 100%; /* Adjust slide width as needed */
  /* Additional styling for each slide */
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; /* Adjust arrow width as needed */
  height: 50px; /* Adjust arrow height as needed */
}

.carousel-prev {
  left: 10px; /* Adjust previous arrow position */
}

.carousel-next {
  right: 10px; /* Adjust next arrow position */
}



.faculty-info{
  background-color: #192959;
  padding-left: 80px;
  padding-top: 50px;
  padding-bottom: 37px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.faculty-info img{
  float: left;
}
